fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.12
face-alignment==1.4.1

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1
torchvision==0.20.1

opencv-python-headless==4.10.0.84
numpy==1.26.4
pillow==10.4.0
